# Ignore Maven build directories
**/target/
# Node and Next.js
admin-ui/node_modules/
admin-ui/.next/


# Ignore IDE files
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

src/main/resources/firebase/royaleduel-firebase-adminsdk-fbsvc-c7591b8656.json
